// FONT FAMILY
$font-first: 'Roboto', sans-serif;
$font-second: 'Bellota', cursive;

// COLORS
$color-first: #1ba4ce;
$color-second: #473452;
$color-second-darker: #30383b;

// FONT SIZES
$primary-font-size: 15px;

 


